* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 18px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

#custom-arch, #workspaces, #window {
  border-radius: 14px;
  background-color: #181B2E;
  color: #cba6f7;
  margin-top: 5px;
	margin-right: 15px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

#window {
  color: #cdd6f4;
}

#custom-arch {
  font-size: 20px;
	margin-left: 15px;
}

#workspaces button {
  background: #181B2E;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #cba6f7;
}

#clock, #disk, #cpu, #wireplumber, #language, #memory, #tray {
  border-radius: 12px;
  background-color: #181B2E;
  color: #cdd6f4;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
}

#tray menu {
  background-color: #181B2E;
  color: #cdd6f4;
}

#tray > .needs-attention {
  background-color: #FFB066;
}

#language {
  color: #cba6f7;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}
